<template>
  <q-item clickable :to="to" v-if="visible" :dark="dark" @click="$emit('clicked')">
    <q-item-section side>
      <q-icon :name="icon" />
    </q-item-section>
    <q-item-section no-wrap>
      <q-item-label>{{ label }}</q-item-label>
    </q-item-section>
  </q-item>
</template>
<script>
export default {
  name: 'MenuItem',
  props: {
    to: String,
    dark: Boolean,
    icon: {
      default: 'star_rate',
      type: String
    },
    iconColor: {
      default: 'accent',
      type: String
    },
    label: String,
    visible: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {}
  }
}
</script>
