<template>
  <q-page padding class="q-pa-none q-ma-none">
    <div class="row">
      <div class="col-12">
        <BlockBordered class="q-pa-sm" ref="mainBlock" :class="{ h100percent: $q.screen.gt.sm }">
          <div
            class="row justify-center absolute-center"
            :style="!$q.screen.gt.sm ? 'display: contents' : ''"
          >
            <div class="column items-center q-my-auto" ref="logoBlock">
              <q-img
                class="col q-mx-auto"
                alt="Teknokomo"
                src="~app/public/images/logo12.png"
                :width="
                  $q.screen.gt.md
                    ? 'calc(15vw)'
                    : $q.screen.gt.sm
                    ? 'calc(20vw)'
                    : $q.screen.gt.xs
                    ? '200px'
                    : '150px'
                "
              />
              <p style="font-weight: bold; font-size: 30px" class="text-center col">
                Сделайте шаг в будущее
              </p>
              <q-btn
                class="col q-mx-auto"
                unelevated
                rounded
                color="primary"
                :label="!isLoggedIn ? 'В будущее' : 'К проектам'"
                @click="!isLoggedIn ? tileClick('/registrado') : tileClick('/gp')"
              >
              </q-btn>
              <q-img
                class="arrow arrow_pulsing col q-mx-auto"
                alt="arrow"
                src="~assets/arrow_curve_white.png"
              />
              <p class="text-center col">Нажмите эту кнопку и всё начнется</p>
            </div>
          </div>
          <!--      <q-resize-observer @resize="onResize"/>-->
        </BlockBordered>
      </div>
      <div class="col-12" :class="{ 'absolute-bottom': $q.screen.gt.sm }">
        <div class="row">
          <BlockBordered
            class="hvr-push my-info-block q-pa-sm cursor-pointer"
            :class="!$q.screen.gt.sm ? 'col-12' : 'col-4'"
            v-for="(tile, idx) in tiles"
            :key="idx"
          >
            <q-item dense v-ripple clickable @click="tileClick(tile.url)" class="q-px-none">
              <q-item-section avatar>
                <q-avatar square size="75px">
                  <q-img
                    :width="75 + 'px'"
                    :height="75 + 'px'"
                    :src="tile.image_url"
                    :alt="tile.title"
                  />
                </q-avatar>
              </q-item-section>
              <q-item-section>
                <q-item-label lines="1" class="text-white text-weight-medium"
                  >{{ tile.title }}
                </q-item-label>
                <q-item-label lines="2" caption class="text-white">{{ tile.text }} </q-item-label>
              </q-item-section>
            </q-item>
          </BlockBordered>
        </div>
      </div>
    </div>
  </q-page>
</template>
<script>
import { mapGetters } from 'vuex'
import { dom, openURL } from 'quasar'
import { defineAsyncComponent } from 'vue'

const { height, width } = dom

export default {
  name: 'IndexNotLoggedIn',
  components: {
    BlockBordered: defineAsyncComponent(() => import('components/Blocks/BlockBordered'))
  },
  data() {
    return {
      tiles: [
        {
          image_url: 'images/main_help.png',
          title: 'Помочь в развитии проекта',
          url: 'https://boosty.to/universo',
          text: 'Полный перечень способов как можно помочь проекту в развитии.'
        },
        {
          image_url: '/images/main_doc.png',
          title: 'Документация',
          url: 'https://dok.universo.pro/ru/latest/',
          text: 'Всестороннее описание технологий и проектов Технокома.'
        },
        {
          image_url: '/images/main_apps.png',
          title: 'Проекты',
          url: '/gp',
          text: 'Перечень главных проектов Технокома.'
        }
      ],
      title: 'Главная'
      // logoBlockStyle: {
      //   top: null,
      // },
    }
  },
  meta() {
    return {
      title: `Техноком - ${this.title}`
    }
  },
  methods: {
    tileClick(url) {
      if (url.startsWith('http')) {
        openURL(url)
      } else this.$router.push(url)
    }
    // onResize(size) {
    //   // this.logoBlockStyle.top = (height(this.$refs.mainBlock.$el) - height(this.$refs.logoBlock) - 32) / 2 + 'px';
    // },
  },
  computed: {
    ...mapGetters({
      isLoggedIn: 'siriusoauth/isLoggedIn',
      user: 'siriusoauth/user',
      dark: 'UIstore/getDark'
    })
  }
}
</script>
<style lang="sass" scoped>
.test-border
  border-style: dashed
  color: #31CCEC

.h100percent
  height: calc(100vh - 210px)

p
  color: white
  font-size: 20px

.arrow
  width: 15px

  &_pulsing
    animation: pulsing 3s linear infinite
    @keyframes pulsing
      0%
        opacity: 0.5
      50%
        opacity: 1
      100%
        opacity: 0.5
</style>
<style>
/* Push */
@-webkit-keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.99);
    transform: scale(0.99);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.99);
    transform: scale(0.99);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.hvr-push {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-push:hover,
.hvr-push:focus,
.hvr-push:active {
  -webkit-animation-name: hvr-push;
  animation-name: hvr-push;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
</style>
