<template>
  <q-page padding class="flex flex-left">
    <base-list2></base-list2>
  </q-page>
</template>

<script>
import BaseList2 from 'components/BaseList2'

export default {
  name: 'knowledgeBase',
  components: {
    BaseList2
  },
  data() {
    return {}
  },
  mounted() {}
}
</script>
