<template>
  <q-page padding class="q-pa-md">
    <q-stepper ref="stepper" v-model="step" animated color="primary" :dark="dark">
      <q-step
        :done="step > 1"
        :name="1"
        :step="1"
        :title="$q.screen.width > 1000 ? steps[0].text : ''"
        class="q-pa-md"
        :dark="dark"
        icon="settings"
      >
        <p>
          На следующих шагах вы можете зарегистрироваться во Всемирной автоматизированной системе
          Техноком, получить ваш Tehnokom ID.
        </p>
        <p>
          Tehnokom ID так же применяется и для Universo на (Международном языке (эсперанто) -
          Вселенная) - это Реальный виртуальный мир, первый и единственный в таком роде. Universo -
          третий блок Всемирной автоматизированной системы Техноком. Реальный виртуальный мир
          совмещает в себе элементы Дополненной реальности (Расширенная реальность) и Виртуального
          пространства (Виртуальный мир).
        </p>
        <q-btn class="float-right" @click="step++">
          <template v-slot:default>
            <span>Принимаю</span>
            <q-icon class="on-right" name="send"></q-icon>
          </template>
        </q-btn>
      </q-step>
      <q-step
        :done="step > 2"
        :name="2"
        :step="2"
        :title="$q.screen.width > 1000 ? steps[1].text : ''"
        class="q-pa-md"
        icon="settings"
      >
        <reg-form @success="step++" />
      </q-step>
      <q-step
        :done="step > 3"
        :name="3"
        :step="3"
        :title="$q.screen.width > 1000 ? steps[2].text : ''"
        class="q-pa-md"
        icon="settings"
      >
        <confirm-form @success="step++" />
      </q-step>
      <q-step
        :name="4"
        :step="4"
        :title="$q.screen.width > 1000 ? steps[3].text : ''"
        class="q-pa-md"
        icon="settings"
      >
        <p>
          Вы зарегистрировали вашу учётную запись Tehnokom ID и можете использовать её на всех
          сервисах Технокома, в том числе для авторизации в Universo.
        </p>
        <p>Для входа воспользуйтесь формой входа на сайт .</p>
        <q-btn v-if="step === 4" class="float-right" @click="showLoginForm">
          <template v-slot:default>
            <span>Форма входа</span>
            <q-icon class="on-right" name="send"></q-icon>
          </template>
        </q-btn>
      </q-step>
      <!--      оставил заготовку, чтоб можно было двигаться по шагам регистрации произвольно-->
      <!--      <template v-slot:navigation>-->
      <!--        <q-stepper-navigation>-->
      <!--          <q-btn :label="step === 4 ? 'Finish' : 'Continue'"-->
      <!--                 color="primary"-->
      <!--                 @click="$refs.stepper.next()"/>-->
      <!--          <q-btn v-if="step > 1"-->
      <!--                 class="q-ml-sm"-->
      <!--                 color="primary"-->
      <!--                 flat-->
      <!--                 label="Back"-->
      <!--                 @click="$refs.stepper.previous()"/>-->
      <!--        </q-stepper-navigation>-->
      <!--      </template>-->
    </q-stepper>
  </q-page>
</template>
<script>
import { mapGetters, mapMutations } from 'vuex'
import { Loading } from 'quasar'
import { defineAsyncComponent } from 'vue'

export default {
  name: 'Registrado',
  components: {
    RegForm: defineAsyncComponent(() => import('../components/RegForm')),
    ConfirmForm: defineAsyncComponent(() => import('../components/ConfirmForm'))
  },

  data() {
    return {
      steps: [
        { step: 1, text: 'Соглашение' },
        { step: 2, text: 'Данные регистрации' },
        { step: 3, text: 'Подтверждение регистрации' },
        { step: 4, text: 'Завершение регистрации' }
      ],
      step: 1,
      title: 'Регистрация'
    }
  },
  meta() {
    return {
      title: `Техноком - ${this.title}`
    }
  },
  computed: {
    ...mapGetters({
      isLoggedIn: 'siriusoauth/isLoggedIn',
      konfirmita: 'siriusoauth/konfirmita',
      isLoading: 'UIstore/getIsLoading',
      dark: 'UIstore/getDark',
      authData: 'siriusoauth/getAuthData'
    })
  },

  watch: {
    authData: function (cur) {
      if (typeof cur === 'object') {
        if (cur.hasOwnProperty('login')) {
          const { login, password } = cur
          this.$store.commit('registrado/setEmail', login)
          this.$store.commit('registrado/setPassword', password)
        }
      }
    },
    step: function (cur) {
      if (cur === 4)
        // this.$root.$emit('show-login-form');
        this.$store.commit('UIstore/showLoginForm', true)
    },
    isLoggedIn: function (cur, old) {
      if (cur) {
        // console.error('Watch. Уже залогинен. Переходим на главную страницу');
        this.$router.push('/')
      }
    },

    konfirmita: function (cur, old) {
      if (cur === false) {
        this.step = 3
      }
    }
  },

  beforeMount() {
    if (this.konfirmita === false) {
      this.step = 3
      this.setKonfirmita(null)
    }

    if (this.isLoggedIn) {
      // console.error('beforeMount. Уже залогинен. Переходим на главную страницу');
      this.$router.push('/')
    }
  },

  methods: {
    ...mapMutations({ setKonfirmita: 'siriusoauth/setKonfirmita' }),
    showLoginForm() {
      this.$store.commit('UIstore/showLoginForm', true)
    }
    // setAuthData({login, password}) {
    //   this.$store.commit('registrado/setEmail', login);
    //   this.$store.commit('registrado/setPassword', password);
    // },
  }
  // mounted() {
  //   // Слушаем глобальную шину
  //   // this.$root.$on('authdata', this.setAuthData);
  // },

  // beforeDestroy() {
  //   // Отключаемся от глобальной шины
  //   // this.$root.$off('authdata', this.setAuthData);
  // },
}
</script>
<style scoped></style>
