<template>
  <q-page padding v-if="uzanto && uzanto.edges.length > 0">
    <!-- content -->
    <q-card :dark="dark" class="my-card">
      <q-card-section horizontal>
        <q-item :dark="dark">
          <q-item-section avatar top>
            <q-avatar>
              <q-img spinner-color="white" :src="uzanto.edges[0].node.avataro.bildoF.url">
                <template v-slot:error>
                  <div class="absolute-full flex flex-center bg-negative text-white">
                    Нет изображения
                  </div>
                </template>
              </q-img>
            </q-avatar>
          </q-item-section>
          <q-item-section>
            <q-item-label>{{ fullName }}</q-item-label>
            <q-item-label caption :lines="2" v-if="uzanto.edges[0].node.statuso">
              {{ uzanto.edges[0].node.statuso.enhavo }}
            </q-item-label>
          </q-item-section>
          <q-item-section side>
            <q-item-label
              >{{ `${uzanto.edges[0].node.statistiko.miaGekamarado ? 'У вас в друзьях' : ''}` }}
            </q-item-label>
            <q-item-label>
              {{
                `${
                  uzanto.edges[0].node.statistiko.tutaGekamaradoj !== null
                    ? 'Друзей: ' + uzanto.edges[0].node.statistiko.tutaGekamaradoj
                    : ''
                }`
              }}
            </q-item-label>
          </q-item-section>
        </q-item>
      </q-card-section>
    </q-card>
    <!--Полоска загрузки при выполнении запроса к бакэнду-->
    <q-ajax-bar ref="barTop" position="bottom" color="accent" size="5px" />
    <q-ajax-bar ref="barBottom" position="top" color="accent" size="5px" />
  </q-page>
</template>
<script>
import { mapGetters } from 'vuex'
import { idParser } from 'src/utils'

export default {
  data() {
    return {
      idParser
    }
  },
  meta() {
    return {
      title: `Техноком - ${this.title}`
    }
  },
  created() {
    const id = idParser.call(this, '/gu', 'id')
    this.$store.dispatch('uzanto/fetchUzanto', { id })
  },
  computed: {
    ...mapGetters({
      uzanto: 'uzanto/getUzanto',
      isLoading: 'UIstore/getIsLoading',
      dark: 'UIstore/getDark'
    }),
    title: function () {
      if (this.fullName) {
        return `Пользователь: ${this.fullName}`
      } else return 'Пользователь'
    },
    fullName: function () {
      let firstName = ''
      let secondName = ''
      let lastName = ''
      if (this.uzanto && Array.isArray(this.uzanto.edges) && this.uzanto.edges.length > 0) {
        const [kom] = this.uzanto.edges
        if (typeof kom === 'object') {
          const { node } = kom
          if (typeof node === 'object') {
            const { unuaNomo, duaNomo, familinomo } = node
            firstName = unuaNomo?.enhavo ?? ''
            secondName = duaNomo?.enhavo ?? ''
            lastName = familinomo?.enhavo ?? ''
          }
        }
      } else {
        // console.error("Данные пользователя не получены");
        return ''
      }
      return [firstName, secondName, lastName].join(' ')
    }
  }
}
</script>
<style lang="sass" scoped>
.my-card
  width: 100%
</style>
