<template>
  <q-page :dark="dark" padding :class="{ 'light-theme-style': !dark, 'dark-theme-style': dark }">
    <q-infinite-scroll
      @load="onLoad"
      :offset="500"
      :debounce="100"
      :disable="disableInfiniteScroll"
    >
      <!-- content -->
      <q-tabs
        v-model="tab"
        show-arrows
        :dark="dark"
        align="left"
        class="text-weight-bold text-white shadow-2"
        narrow-indicator
      >
        <q-tab
          v-for="(tab, idx) in tabs"
          :key="idx + 'tab'"
          v-ripple
          :label="tab.nomo"
          :name="tab.tab"
        >
        </q-tab>
      </q-tabs>
      <q-tab-panels v-model="tab" animated :dark="dark">
        <q-tab-panel
          v-for="(tab, idx) in tabs"
          :key="idx + 'tab-panel'"
          :name="tab.tab"
          :dark="dark"
        >
          <template v-if="selectedTab">
            <q-card
              v-for="(item, idx) in selectedTab.edges"
              :key="idx + 'edges'"
              bordered
              class="my-card"
              :dark="dark"
              flat
            >
              <list-item
                :to="'/u' + item.node.objId"
                :dark="dark"
                :avatar="item.node.avataro.bildoF.url"
                :label="itemNomo(item)"
                :caption="itemCaption(item)"
              >
                <q-item-section side>
                  <q-item-label
                    >{{ `${item.node.statistiko.miaGekamarado ? 'У вас в друзьях' : ''}` }}
                  </q-item-label>
                  <q-item-label>
                    {{
                      `${
                        item.node.statistiko.tutaGekamaradoj !== null
                          ? 'Друзей: ' + item.node.statistiko.tutaGekamaradoj
                          : ''
                      }`
                    }}
                  </q-item-label>
                </q-item-section>
              </list-item>
            </q-card>
          </template>
        </q-tab-panel>
      </q-tab-panels>
      <template v-slot:loading>
        <div class="row justify-center q-my-md">
          <q-spinner-dots color="primary" size="40px" />
        </div>
      </template>
    </q-infinite-scroll>
  </q-page>
</template>
<script>
import { Loading } from 'quasar'
import { mapGetters } from 'vuex'
import ListItem from 'components/Items/ListItem'

export default {
  components: { ListItem },
  data() {
    return {
      endCursor: null,
      tab: 'uzantoj',
      tabs: [
        {
          tab: 'uzantoj',
          nomo: 'Все пользователи'
        },
        {
          tab: 'gekamaradoj',
          nomo: 'Мои товарищи'
        }
      ],
      title: 'Все пользователи'
    }
  },
  meta() {
    return {
      title: `Техноком - ${this.title}`
    }
  },
  watch: {
    // Вызываем обновление информации при изменении параметров адресной строки
    '$route.query': {
      handler: function (cur) {
        cur.tipo === 'gekamaradoj' ? (this.tab = 'gekamaradoj') : (this.tab = 'uzantoj')
      },
      deep: true
    },
    // Обновляем параметры адресной строки в зависимости от выбранной вкладки
    tab: function (cur, old) {
      this.endCursor = null
      if (cur === 0) {
        const qr = Object.assign({}, this.$route.query)
        delete qr.tipo
        this.$router.push({ query: { ...qr } })
      } else if (this.$route.query.tipo !== cur) {
        const qr = Object.assign({}, this.$route.query)
        this.$router.push({ query: { ...qr, ...{ tipo: cur } } })
      }
      if (old) {
        const query =
          this.tab === 'gekamaradoj' ? 'gekamaradoj/fetchGekamaradoj' : 'uzantoj/fetchUzantoj'
        const first = 15
        const after = null
        this.$store.dispatch(query, { first, after })
      }
    }
  },
  methods: {
    onLoad(index, done) {
      if (!this[this.tab]?.pageInfo?.hasNextPage) {
        done()
        return
      }
      const query =
        this.tab === 'gekamaradoj' ? 'gekamaradoj/fetchGekamaradoj' : 'uzantoj/fetchUzantoj'
      if (this[this.tab]?.pageInfo?.endCursor) {
        this.$store
          .dispatch(query, { first: 25, after: this.selectedTab?.pageInfo?.endCursor })
          .then(() => {
            done()
          })
      } else {
        done()
      }
    },
    itemNomo(item) {
      return `${
        item.node?.unuaNomo?.enhavo !== null ? item.node?.unuaNomo?.enhavo.trim() + ' ' : ''
      }${item.node?.duaNomo?.enhavo !== null ? item.node?.duaNomo?.enhavo.trim() + ' ' : ''}${
        item.node?.familinomo?.enhavo !== null ? item.node?.familinomo?.enhavo.trim() : ''
      }`
    },
    itemCaption(item) {
      return `${
        item.node.statuso && item.node.statuso.enhavo !== null
          ? item.node.statuso.enhavo.trim()
          : ''
      }`
    }
  },
  created() {
    // Если указана вкладка "товарищи", то переключаем вкладку
    if (this.$route.query.tipo !== 'gekamaradoj') {
      this.tab = 'uzantoj'
    } else {
      this.tab = 'gekamaradoj'
    }

    const query =
      this.tab === 'gekamaradoj' ? 'gekamaradoj/fetchGekamaradoj' : 'uzantoj/fetchUzantoj'
    const first = 25
    const after = this.endCursor
    this.$store.dispatch(query, { first, after })
  },
  computed: {
    ...mapGetters({
      uzantoj: 'uzantoj/getUzantoj',
      gekamaradoj: 'gekamaradoj/getGekamaradoj',
      isLoading: 'UIstore/getIsLoading',
      dark: 'UIstore/getDark'
    }),
    selectedTab() {
      if (this.$route.query.tipo !== 'gekamaradoj') {
        return this.uzantoj
      } else {
        return this.gekamaradoj
      }
    },
    disableInfiniteScroll() {
      return !this[this.tab]?.pageInfo?.hasNextPage
    }
  }
}
</script>
<style lang="sass" scoped>
.my-card
  width: 100%

.light-theme-style

  .q-tabs
    color: aliceblue !important

.dark-theme-style

  .q-tabs
    color: aliceblue !important
</style>
