<template>
  <div>
    <q-card :dark="dark" flat>
      <q-card-section vertical>
        <q-item :dark="dark">
          <q-item-section avatar>
            <q-avatar icon="announcement"> </q-avatar>
          </q-item-section>
          <q-item-section>
            <q-item-label class="text-weight-bold">Объявление </q-item-label>
          </q-item-section>
        </q-item>
        <q-item :dark="dark">
          <q-item-section>
            <q-item-label caption v-html="announcementText" />
          </q-item-section>
        </q-item>
      </q-card-section>
    </q-card>
    <q-separator :dark="dark" />
    <q-card :dark="dark">
      <q-card-section class="q-px-none">
        <q-item class="q-px-none" :dark="dark">
          <q-item-section class="yandex-adaptive">
            <div id="yandex_rtb_R-A-945396-1" class="yandex-adaptive q-mx-auto"></div>
          </q-item-section>
        </q-item>
      </q-card-section>
    </q-card>
  </div>
</template>
<script>
import { yandexBanner } from 'src/utils'

export default {
  name: 'Banner',
  props: {
    dark: Boolean
  },
  data() {
    return {
      announcementText: `<p>Платформа RVM Universo активно развивается, но нам нужно больше сил. Ознакомьтесь как <a href="https://boosty.to/universo"  target="_blank">принять участие и поддержать</a> развитие наших проектов.</p>`
    }
  },
  mounted() {
    setTimeout(() => {
      yandexBanner()
    }, 3000)
  }
}
</script>
