<template>
  <div>
    <q-btn flat color="accent" round size="md" @click="showDialog = true" icon="edit">
      <q-tooltip content-class="bg-accent">Изменить</q-tooltip>
    </q-btn>
    <q-dialog v-model="showDialog" persistent width="380" :maximized="!$q.screen.gt.xs">
      <q-card :dark="dark" flat>
        <q-card-section horizontal>
          <q-item :dark="dark">
            <q-item-section>
              <q-item-label class="text-h6">Изменение адреса электронной почты</q-item-label>
            </q-item-section>
          </q-item>
        </q-card-section>
        <q-card-section>
          <q-stepper
            ref="stepper"
            v-model="step"
            animated
            color="primary"
            :dark="dark"
            vertical
            flat
            :contracted="!$q.screen.gt.xs"
          >
            <q-step
              :done="step > 1"
              :name="1"
              :step="1"
              :title="steps[0].text"
              class="q-pa-md"
              :dark="dark"
              icon="settings"
            >
              <q-input
                v-model="newEmail"
                :dark="dark"
                label="Адрес электронной почты"
                outlined
                :rules="emailRules"
                ref="email"
              ></q-input>
            </q-step>
            <q-step :name="2" :step="2" :title="steps[1].text" class="q-pa-md" icon="settings">
              <q-input
                v-model="confirmCode"
                :dark="dark"
                label="Код подтверждения"
                outlined
              ></q-input>
            </q-step>
            <q-step :name="3" :step="3" :title="steps[2].text" class="q-pa-md" icon="settings">
            </q-step>
            <template v-slot:navigation>
              <q-stepper-navigation>
                <q-btn
                  @click="step === 1 ? sendCode() : sendConfirmCode()"
                  v-if="step < 3"
                  class="float-right"
                >
                  <template v-slot:default>
                    <span>{{ step === 1 ? 'Изменить почту' : 'Отправить код подтверждения' }}</span>
                    <q-icon class="on-right" name="send"></q-icon>
                  </template>
                </q-btn>
                <q-btn
                  class="float-right"
                  type="reset"
                  @click="step === 3 ? onReset() : null"
                  v-close-popup
                >
                  <template v-slot:default>
                    <span>Закрыть</span>
                    <q-icon class="on-right" name="cancel"></q-icon>
                  </template>
                </q-btn>
              </q-stepper-navigation>
            </template>
            <template v-slot:message>
              <q-banner v-if="step === 1" :dark="dark" class="q-px-lg">
                Введите новый адрес и получите код подтверждения
              </q-banner>
              <q-banner v-else-if="step === 2" :dark="dark" class="q-px-lg">
                Введите код подтверждения отправленный на почту
              </q-banner>
              <q-banner v-else :dark="dark" class="q-px-lg">
                Адрес электронной почты успешно изменен.
              </q-banner>
            </template>
            <!--            оставил заготовку, чтоб можно было двигаться по шагам регистрации произвольно-->
            <!--            <template v-slot:navigation>-->
            <!--              <q-stepper-navigation>-->
            <!--                <q-btn :label="step === 4 ? 'Finish' : 'Continue'"-->
            <!--                       color="primary"-->
            <!--                       @click="$refs.stepper.next()"/>-->
            <!--                <q-btn v-if="step > 1"-->
            <!--                       class="q-ml-sm"-->
            <!--                       color="primary"-->
            <!--                       flat-->
            <!--                       label="Back"-->
            <!--                       @click="$refs.stepper.previous()"/>-->
            <!--              </q-stepper-navigation>-->
            <!--            </template>-->
          </q-stepper>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  // name: 'ComponentName',
  components: {},
  data() {
    return {
      showDialog: false,
      steps: [
        { step: 1, text: 'Новый адрес' },
        { step: 2, text: 'Код подтверждения' },
        { step: 3, text: 'Адрес изменён' }
      ],
      step: 1,
      confirmCode: null,
      newEmail: null,
      emailRules: [
        (v) => !!v || 'Поле обязательно для заполнения',
        (v) => /^[^@]+@[^@]+\.[^@]+$/.test(v) || 'Указан некорректный e-mail',
        (v) => !this.errors.hasOwnProperty('chefaRetposhto') || this.errors.chefaRetposhto
      ],
      errors: {}
    }
  },
  methods: {
    sendCode() {
      if (!this.newEmail) return
      if (!this.$refs.email.validate()) {
        return
      }
      const params = {
        email: this.newEmail
      }
      this.$store.dispatch('uzanto/changeTelephoneOrEmail', params).then((resp) => {
        if (resp.status) {
          this.$q.notify({
            type: 'positive',
            message: resp.message
          })
          this.step++
        } else {
          this.$q.notify({
            type: 'negative',
            message: resp.message
          })
        }
      })
    },

    sendConfirmCode() {
      if (!this.confirmCode) return
      const params = {
        email: this.newEmail,
        code: this.confirmCode
      }
      this.$store.dispatch('uzanto/changeTelephoneOrEmail', params).then((resp) => {
        if (resp.status) {
          this.$q.notify({
            type: 'positive',
            message: resp.message
          })
          this.step++
        } else {
          this.$q.notify({
            type: 'negative',
            message: resp.message
          })
        }
      })
    },
    onReset() {
      this.step = 1
      this.showDialog = false
    }
  },
  computed: {
    ...mapGetters({ dark: 'UIstore/getDark' })
  }
}
</script>
<style></style>
