<template>
  <div>
    <!--    Диалог логина-->
    <q-dialog v-model="showDialog">
      <q-card :dark="dark">
        <q-card-section class="row items-center q-pb-none">
          <div class="text-h6">Вход</div>
          <q-space />
          <q-btn icon="close" flat round dense v-close-popup @click="toggleLoginForm()" />
        </q-card-section>
        <q-card-section>
          <q-form ref="form" v-model="valid" v-on:keyup.enter="login">
            <q-input
              v-model="email"
              :rules="emailRules"
              :dark="dark"
              label="E-mail или телефон"
              lazy-rules="ondemand"
              required
              tabindex="1"
            >
              <template v-slot:append>
                <q-icon name="cancel" @click.stop="email = ''" class="cursor-pointer" />
              </template>
            </q-input>
            <q-input
              v-model="password"
              :dark="dark"
              label="Пароль"
              lazy-rules="ondemand"
              maxlength="32"
              required
              type="password"
              tabindex="1"
            >
              <template v-slot:append>
                <q-icon name="cancel" @click.stop="password = ''" class="cursor-pointer" />
              </template>
            </q-input>
          </q-form>
          <q-card-section
            class="link-in-text"
            :class="{ 'link-in-text-symbol__dark': dark, 'link-in-text-symbol__light': !dark }"
          >
            <q-icon name="person_add" />
            <router-link to="/registrado" @click="closeForm"> Регистрация </router-link>
            <q-space />
            <q-icon name="psychology" />
            <router-link to="/restarigi" @click="closeForm"> Забыли пароль? </router-link>
          </q-card-section>
        </q-card-section>
        <q-card-actions>
          <q-btn color="negative" label="Отмена" @click="toggleLoginForm()" />
          <q-space />
          <q-btn
            :disabled="loginBtnDisabled"
            color="positive"
            label="Войти"
            @click="login"
            tabindex="1"
          >
          </q-btn>
          <!--          <q-circular-progress v-else-->
          <!--                               indeterminate-->
          <!--                               size="28"/>-->
        </q-card-actions>
      </q-card>
    </q-dialog>
    <!--    Диалог установки никнейма-->
    <q-dialog v-model="showNicknameDialog" persistent width="380">
      <q-card :dark="dark">
        <q-card-section class="pa-0 pl-2">
          <div class="text-h6">Никнейм в Universo</div>
          <q-space />
        </q-card-section>
        <q-card-section>
          <q-form ref="set_nickname" v-model="valid" label="Никнейм в Universo">
            <q-input
              v-model="nickname"
              :rules="nicknameRules"
              clearable
              :dark="dark"
              label="Укажите Ваш никнейм в Universo"
              lazy-rules="ondemand"
              maxlength="30"
              required
            />
          </q-form>
        </q-card-section>
        <q-card-actions>
          <q-btn color="primary" @click="logout">
            <q-icon label="Выйти" name="logout" />
          </q-btn>
          <q-space />
          <q-btn color="positive" label="OK" @click="setNickname" />
          <!--          <q-circular-progress v-else-->
          <!--                               indeterminate-->
          <!--                               size="28"/>-->
        </q-card-actions>
      </q-card>
    </q-dialog>
    <!--    Кнопка неавторизованного пользователя-->
    <q-btn v-if="!isLoggedIn" icon="login" label="Войти" color="accent" @click="toggleLoginForm" />
    <!--    Кнопка с меню авторизованного пользователя-->
    <q-btn
      v-if="isLoggedIn"
      :label="firstName"
      color="primary"
      no-wrap
      no-caps
      class="text-weight-bold"
      :icon-right="`img:${user.avataro.bildoF.url}`"
    >
      <q-menu :dark="dark" dense>
        <q-list dense>
          <q-item :dark="dark">
            <q-item-section>
              <q-item-label class="text-right">@{{ userNameButton }} </q-item-label>
            </q-item-section>
          </q-item>
          <q-separator />
          <menu-item
            v-for="(item, idx) in links"
            :visible="(isLoggedIn && item.visibleForLoggedIn) || !isLoggedIn"
            :key="idx + item.title"
            :to="item.link"
            :dark="dark"
            :icon="item.icon"
            :label="item.title"
          />
          <q-separator />
          <menu-item
            v-for="(item, idx) in menu_items"
            :key="idx + item.text + idx"
            :dark="dark"
            :icon="item.icon"
            :label="item.text"
            @clicked="item.action(item.path)"
          />
        </q-list>
      </q-menu>
    </q-btn>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import MenuItem from 'components/Items/MenuItem'

export default {
  name: 'LoginButton',
  components: { MenuItem },
  props: {
    links: Array
  },
  data() {
    return {
      // showDialog: false,
      processing: false,
      valid: false,
      email: '',
      emailRules: [
        (v) => !!v || 'Укажите e-mail или телефон',
        (v) =>
          /[^@]+@[^@]+\.[^@]+/.test(v) ||
          /\+[0-9]{3,12}/.test(v) ||
          'Указан некорректный e-mail или телефон',
        () => !this.error || this.error
      ],
      password: '',
      passwordRules: [
        (v) => !!v || 'Введите пароль',
        (v) =>
          /^[0-9a-zA-Z+-_*.,;$!?%#=]+$/.test(v) ||
          'Допустимы только символы латинского алфавита, цифры и символы "_*.,;$!?%#="',
        (v) => (v.length >= 6 && v.length <= 32) || 'Пароль должен иметь длину от 6 до 32 символов'
      ],
      error: '',
      nickname: '',
      nicknameRules: [
        (v) => !!v || 'Поле обязательно для заполнения',
        (v) => !v.length || v[0] !== '-' || 'Ник не может начинаться с символа минуса',
        (v) =>
          /^[a-zA-Z0-9ĈĉĤĥĴĵŜŝŬŭ-]+$/.test(v) ||
          'Ник может содержать только латинские символы, цифры, символ минуса, а так же расширенные символы эсперанто (ĈĉĤĥĴĵŜŝŬŭ)',
        (v) =>
          (v.length >= 5 && v.length < 31) || 'Ник должен быть иметь длину от 5 до 30 символов',
        () => !this.nick_errors.length || this.nick_errors.join('<br/>')
      ],
      nick_errors: [],
      menu_items: [
        { text: 'Настройки', action: this.routeTo, path: '/agordoj', icon: 'settings' },
        { text: 'Выйти', action: this.logout, path: '/', icon: 'logout' }
      ]
    }
  },
  methods: {
    routeTo(path) {
      if (this.$route.path !== path) {
        this.$router.push(path)
      }
    },

    close() {
      this.nickname = ''
    },
    logout(path) {
      this.$store
        .dispatch('siriusoauth/logout')
        .then(() => this.$store.dispatch('siriusoauth/fetchUser'))
        .then(() => {
          if (this.$route.path !== path) {
            this.$router.push(path)
          }
        })
    },
    setNickname() {
      if (this.$refs.set_nickname.validate()) {
        this.processing = true
        this.$store
          .dispatch('siriusoauth/addUniversoUzanto', { retnomo: this.nickname })
          .then(() => {
            this.close()
          })
          .catch((err) => {
            this.nick_errors.push(err)
            this.$refs.set_nickname.validate()
            this.nick_errors = []
          })
        this.processing = false
      }
    },

    toggleLoginForm() {
      this.showDialog = !this.showDialog
    },

    closeForm() {
      this.password = ''
      this.email = ''
      this.error = ''
      this.processing = false
      this.showDialog = false
    },

    login() {
      if (!this.isLoggedIn) {
        this.processing = true
        this.error = ''
        this.$refs.form.validate()
        const vars = {
          login: this.email,
          password: this.password
        }
        this.$store
          .dispatch('siriusoauth/login', vars)
          .then((resp) => {
            this.processing = false
            if (!resp.status) {
              this.$q.notify({
                type: 'negative',
                message: resp.message
              })
            }
            this.$store.dispatch('siriusoauth/fetchUser').then((resp) => {
              this.closeForm()
            })
          })
          .catch((resp) => {
            console.error(resp.message)
            if (!resp.status) {
              this.$q.notify({
                type: 'negative',
                message: resp.message
              })
            }
            this.processing = false
            if (this.konfirmita === false) {
              this.$route.path !== '/registrado/' ? this.$router.push('/registrado/') : null
              this.$nextTick(() => {
                this.closeForm()
              })
            }
            this.error = 'Неверный логин или пароль'
            this.$refs.form.validate()
          })
      }
    }
  },
  computed: {
    ...mapGetters({
      konfirmita: 'siriusoauth/konfirmita',
      isLoggedIn: 'siriusoauth/isLoggedIn',
      user: 'siriusoauth/user',
      dark: 'UIstore/getDark',
      showLoginForm: 'UIstore/getShowLoginForm'
    }),
    showDialog: {
      get: function () {
        return this.showLoginForm
      },
      set: function (val) {
        this.$store.commit('UIstore/showLoginForm', val)
      }
    },

    loginBtnDisabled() {
      return !this.email || !this.password
    },
    showNicknameDialog() {
      return !this.user?.universoUzanto && this.isLoggedIn
    },
    userNameButton() {
      return !this.user?.universoUzanto
        ? `${this.user?.unuaNomo?.enhavo} ${this.user?.familinomo?.enhavo}`
        : `${this.user?.universoUzanto?.retnomo}`
    },
    firstName() {
      return this.user?.unuaNomo?.enhavo
    }
  },
  watch: {
    showDialog: function (cur, old) {
      if (!cur) {
        this.closeForm()
      }
    },
    email: function (cur, old) {
      this.error = ''
    },
    password: function (cur, old) {
      this.error = ''
    }
  },

  mounted() {
    if (!this.user) this.$store.dispatch('siriusoauth/fetchUser')
  }
}
</script>
