<template>
  <router-view />
</template>
<script>
export default {
  name: 'App'
}
</script>
<style lang="scss">
.flex-break {
  flex: 1 0 100% !important;
}

.row {
  .flex-break {
    height: 0 !important;
  }
}

.column {
  .flex-break {
    width: 0 !important;
  }
}
</style>
