<template>
  <q-layout view="hHh LpR fff">
    <q-header elevated :class="{ 'bg-dark': dark }" height-hint="64">
      <q-toolbar class="q-mx-auto container-style">
        <router-link :to="'/'" style="text-decoration: none; color: white">
          <q-toolbar-title class="row items-center no-wrap" shrink>
            <q-avatar>
              <img alt="Universo" src="~app/public/icons/favicon-128x128.png" />
            </q-avatar>
            <span class="q-ml-sm" v-if="$q.screen.gt.xs">Universo</span>
          </q-toolbar-title>
        </router-link>
        <q-space />
        <!--        <span>{{ date | date('datetime') }}</span>-->
        <!--        <q-space/>-->
        <actions-menu />
        <login-button :links="loginButtonLinks" />
      </q-toolbar>
    </q-header>
    <q-page-container>
      <router-view class="q-mx-auto container-style" />
      <q-page-scroller position="bottom-right" :scroll-offset="150" :offset="[18, 18]">
        <q-btn fab icon="keyboard_arrow_up" color="accent" />
      </q-page-scroller>
    </q-page-container>
    <q-footer elevated :class="{ 'bg-dark': dark }">
      <q-toolbar class="q-mx-auto container-style">
        <footer-link v-for="link in footerLinks" :key="link.title" v-bind="link" />
      </q-toolbar>
    </q-footer>
  </q-layout>
</template>
<script>
import { mapGetters } from 'vuex'
import { Loading, QSpinnerGears } from 'quasar'
import { yandexMetrika } from 'src/utils'
import { defineAsyncComponent } from 'vue'

const linksData = [
  {
    title: 'Главная',
    caption: 'Главная',
    icon: 'star',
    link: '/',
    visibleForLoggedIn: false
  },
  {
    title: 'Регистрация',
    caption: 'Сделать шаг в будущее',
    icon: 'star',
    link: '/registrado',
    visibleForLoggedIn: false
  },
  {
    title: 'Сообщества',
    caption: 'Сообщества',
    icon: 'star',
    link: '/gk',
    visibleForLoggedIn: true
  },
  {
    title: 'Товарищи',
    caption: 'Товарищи',
    icon: 'star',
    link: '/gu',
    visibleForLoggedIn: true
  },
  {
    title: 'Все проекты',
    caption: 'Проекты',
    icon: 'star',
    link: '/gp',
    visibleForLoggedIn: true
  }
]
export default {
  name: 'MainLayout',
  components: {
    FooterLink: defineAsyncComponent(() => import('components/FooterLink')),
    LoginButton: defineAsyncComponent(() => import('components/LoginButton')),
    ActionsMenu: defineAsyncComponent(() => import('components/ActionsMenu'))
  },
  data() {
    return {
      // date: new Date(),
      // interval: null,
      footerLinks: linksData,
      loginButtonLinks: linksData
    }
  },
  watch: {
    isLoading: function (cur) {
      // LoadingBar.setDefaults({
      //   color: 'accent',
      //   size: '3px',
      //   position: 'bottom'
      // })
      if (cur) {
        Loading.show({
          spinner: QSpinnerGears
        })
        // LoadingBar.start()
      } else {
        Loading.hide()
        // LoadingBar.stop()
      }
    }
  },
  computed: {
    ...mapGetters({
      isLoggedIn: 'siriusoauth/isLoggedIn',
      user: 'siriusoauth/user',
      dark: 'UIstore/getDark',
      isLoading: 'UIstore/getIsLoading'
    }),

    avataroBildo: function () {
      return this.user?.avataro?.bildoF?.url || this.user?.avataro?.bildoE?.url
    }
  },

  methods: {},
  mounted() {
    // часы
    // this.interval = setInterval(() => {
    //   this.date = new Date();
    // }, 1000);

    yandexMetrika()
  },
  created() {
    this.$store.commit('UIstore/setDark', localStorage.getItem('dark') === 'true')
    this.$store.commit('UIstore/setStateUI', JSON.parse(localStorage.getItem('stateUI')))
    if (window) {
      window.onstorage = (event) => {
        if (event.key === 'dark') {
          this.$store.commit('UIstore/setDark', event.newValue === 'true')
        }
        if (event.key === 'stateUI') {
          this.$store.commit('UIstore/setStateUI', JSON.parse(event.newValue))
        }
      }
    }
  },

  beforeUnmount() {
    // часы
    // clearInterval(this.interval);
  }
}
</script>
<style lang="sass">
.link-in-text
  a
    outline: none
    text-decoration: none
    padding: 2px 1px 0

    &:link, &:visited, &:active
      color: $accent !important

    &:focus, &:hover
      border-bottom: 1px solid

.link-in-text-symbol

  &__dark
    a
      background-size: 16px 16px
      padding-right: 19px

      &[href*="http"]
        background: url('../assets/link-white-18dp.svg') no-repeat 100% 0

      &[href*="mailto"]
        background: url('../assets/mail-white-18dp.svg') no-repeat 100% 0

      &[href*="tg"]
        background: url('../assets/send-white-18dp.svg') no-repeat 100% 0

      &[href*="/im/direct"]
        background: url('../assets/face-white-18dp.svg') no-repeat 100% 0

  &__light
    a
      background-size: 16px 16px
      padding-right: 19px

      &[href*="http"]
        background: url('../assets/link-black-18dp.svg') no-repeat 100% 0

      &[href*="mailto"]
        background: url('../assets/mail-black-18dp.svg') no-repeat 100% 0

      &[href*="tg"]
        background: url('../assets/send-black-18dp.svg') no-repeat 100% 0

      &[href*="/im/direct"]
        background: url('../assets/face-black-18dp.svg') no-repeat 100% 0

.q-page-container
  background-attachment: fixed
  background-position: top center
  background-repeat: repeat
  background-size: cover
  background-image: url(../../public/images/background.jpg)
  z-index: -5

.q-page
  background-image: url(../../public/images/earth.png)
  background-attachment: fixed
  background-position: top center
  background-repeat: no-repeat
  background-size: contain

.container-style
  max-width: 1200px
</style>
<style>
@media screen and (max-width: 1023px) {
  .yandex-adaptive {
    width: 300px;
    height: 300px;
  }
}

@media screen and (min-width: 1024px) {
  .yandex-adaptive {
    width: 300px;
    height: 300px;
  }
}
</style>
