<template>
  <o-menubar-btn :tooltip="$o.lang.editor.photo" class="o-photo-btn" icon="wallpaper">
    <q-menu
      ref="photoPopover"
      :dark="dark"
      anchor="bottom middle"
      class="shadow-5"
      persistent
      self="top middle"
    >
      <q-list
        :style="{ width: width + 30 + 'px', height: height + 180 + 'px' }"
        class="o-meta-input no-scroll"
        dense
        @keyup.enter="onConfirm"
      >
        <q-item>
          <q-item-section>
            <croppa
              v-model="image"
              :file-size-limit="10000 * 1024"
              :height="height"
              :prevent-white-space="true"
              :quality="quality"
              :width="width"
              accept=".jpeg,.png,.gif,.jpg"
              class="q-mx-auto"
              placeholder="Выберите изображение"
            >
            </croppa>
          </q-item-section>
        </q-item>
        <q-item>
          <q-badge class="q-mx-auto" color="accent">
            Width: {{ widthWanted }} Height: {{ heightWanted }}
          </q-badge>
        </q-item>
        <q-item>
          <q-item-section>
            <q-item>
              <q-item-section avatar>
                <q-icon color="accent" name="swap_horiz" />
              </q-item-section>
              <q-item-section>
                <q-slider v-model="widthWanted" :dark="dark" :max="widthMax" :min="widthMin" />
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section avatar>
                <q-icon color="accent" name="swap_vert" />
              </q-item-section>
              <q-item-section>
                <q-slider v-model="heightWanted" :dark="dark" :max="heightMax" :min="heightMin" />
              </q-item-section>
            </q-item>
          </q-item-section>
          <q-item-section side>
            <q-item>
              <!--          </q-item-section>-->
              <q-item-section>
                <q-btn
                  v-close-popup
                  class="q-ma-auto"
                  color="accent"
                  icon="send"
                  round
                  size="md"
                  @click="onConfirm"
                >
                  <q-tooltip content-class="bg-accent">Вставить изображение</q-tooltip>
                </q-btn>
              </q-item-section>
            </q-item>
          </q-item-section>
        </q-item>
      </q-list>
    </q-menu>
  </o-menubar-btn>
</template>
<script>
import { OMenubarBtn } from 'quasar-tiptap'
import { mapGetters } from 'vuex'

export default {
  name: 'o-photo-btn',
  data() {
    return {
      image: null,
      widthMin: 160,
      heightMin: 160,
      widthMax: 1200,
      heightMax: 900,
      widthWanted: 200,
      heightWanted: 200,
      dialogWidth: 310,
      dialogHeight: 250
    }
  },
  props: {
    commands: {
      type: Object
    },
    isActive: {
      type: Object
    }
  },
  components: {
    OMenubarBtn
  },
  methods: {
    insertImage(src) {
      if (src) {
        this.commands.image({ src })
      }
      this.$refs.photoPopover.hide()
    },
    onConfirm() {
      if (!this.image.hasImage()) return
      this.insertImage(this.image.generateDataUrl())
    }
  },
  computed: {
    ...mapGetters({ dark: 'UIstore/getDark' }),

    quality: function () {
      let q = 1
      if (this.dialogWidth <= this.widthWanted || this.dialogHeight <= this.heightWanted) {
        q = Math.max(this.widthWanted / this.dialogWidth, this.heightWanted / this.dialogHeight)
      }
      return q
    },
    width: function () {
      if (this.widthWanted >= this.widthMin && this.widthWanted <= this.widthMax) {
        return this.widthWanted / this.quality
      } else if (this.widthWanted < this.widthMin) {
        return this.widthMin / this.quality
      } else return this.widthMax / this.quality
    },
    height: function () {
      if (this.heightWanted >= this.heightMin && this.heightWanted <= this.heightMax) {
        return this.heightWanted / this.quality
      } else if (this.heightWanted < this.heightMin) {
        return this.heightMin / this.quality
      } else return this.heightMax / this.quality
    }
  }
}
</script>
<style lang="scss" scoped>
.o-photo-btn {
}

.o-meta-input {
  min-width: 350px;
  padding: 15px;

  .title {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .fields {
    padding: 10px 0;

    .q-field--focused,
    .q-field--float {
      .q-field__control {
        box-shadow: unset !important;
      }
    }

    .hint {
      font-size: 0.8rem;
    }
  }

  .actions {
    /*border-top solid 1px #ccc*/
    padding-top: 10px;

    .q-btn {
      min-width: 100px;
    }
  }
}
</style>
